@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Basic';
    list-style: none;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    position: relative;
}
.hidden-ovrflw {
    overflow-y: hidden;
}
#header {
    height: 80px;
    background-color: #fff;
    position: relative;
    padding: 0 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
#header .header-logo {
    width: 100px;
    height: 120px;
    background-color: #020E35;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#header .header-logo::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 6px;
    width: 100%;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    transform: translate(0, 100%);
}
#header .header-menu {
    position: relative;
}
#header .header-menu ul {
    display: flex;
}
#header .header-menu ul li {
    margin: 0 25px;
}
#header .header-menu ul li:nth-child(5) {
    margin-right: 0;
}
#header .header-menu ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #000;
}
#header .header-menu ul li a.btn-header-menu{
    color: #fff;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    padding: 12px 30px 12px 30px;
}
#header .header-burger-menu {
    display: none;
}

#hero {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 135px;
}
#hero .hero-text {
    padding-top: 172px;
}
#hero .hero-text h1 {
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 25px;
}
#hero .hero-text a.btn-hero {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    padding: 12px 30px 12px 30px;
}

#project-layer {
    position: fixed;
    z-index: 999;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
}
#project-layer.active {
    width: 100%;
}
#project {
    position: absolute;
    z-index: 9999;
    width: 70%;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 5px;
    transition: .5s;
    flex-wrap: wrap;
}
#project.active {
    top: 80px;
    transform: translate(-50%, 0);
}

#project .sub-project {
    margin: 0 15px;
    text-align: center;
    flex-basis: 40%;
    margin-bottom: 30px;
}
#project .sub-project h4 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
}
#project .sub-project img {
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}
#project .sub-project a {
    padding: 10px 20px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #fff;
    text-decoration: none;
}

#about-us {
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
#about-us .about-title {
    padding-top: 50px;
    font-family: Basic;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #020E35;
}
.bottom-line {
    text-decoration: underline solid #E73587;
}
#about-us .about-text {
    padding-top: 20px;
    padding-left: 260px;
    padding-right: 260px;
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #2B2B2B;
}
#about-us .img-oval {
    position: absolute;
    left: -141px;
}

#service {
    background: linear-gradient(to bottom,
    #fff 0%,
    #fff 50%,
    #020E35 50%,
    #020E35);
  }
   .service-title {
    padding-top: 90px;
    font-family: Basic;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #020E35;
  }
  .container {
    max-width: 1100px;
    width: 100%;
    padding: 40px 0;
  }
  .outer-container {
    max-width: 1300px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-container {
    margin: 0 30px;
    overflow: hidden;
  }
  .card {
    height: 540px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.2);
  }
  .card1 {
    background: #FDF8E3;
  }
  .card2{
    background: #F0F3FA;
  }
  .card3 {
    background: #FEEFF0;
  }
  .card4 {
    background: #7BCCB5;
  }
  .card5 {
    background: #9CB071;
  }
  .card6 {
    background: #C48189;
  }
  .card .image-box {
    height: 300px;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
  }
  .card_body {
    padding-bottom: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .2rem;
  }
   .card_body h4 {
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
  }
   .card_body p {
    font-size: 15px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-service {
    width: 80px;
    margin-bottom: 30px;
    margin-left: 34%;
    padding-left: 50%;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #FFFFFF;
    padding: 15px 20px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition: all .4s;
  }
  .btn-service:hover {
    color: #020E35;
  }
  .swiper-navBtn {
    color: #fff;
    height: 76px;
    width: 76px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-radius: 50%;
    transition: all 4.s;
  }
  .swiper-navBtn:hover {
    color: #020E35;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 18px;
  }
  .swiper-pagination-bullet {
    background-color: #E73587;
  } 
  @media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }

#our-work {
    background: #020E35;
    position: absolute;
    height: 2100px; 
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}  
  .ow-title{
    color: #ffffff;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-decoration: underline solid #E73587;
}
.ow1 {
    display: flex;
    margin-top: 60px;
    margin-left: 135px;
    margin-right: 50px;
    color: #FFFFFF;
}
.ow1_img {
    width: 587px;
    height: 390px;
}
.ow1_1{
    color: var(--third-color);
    margin-left: 20px;
    text-align: left;
}
.ow1_1 h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;}
.ow1_1 h5 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}
.ow1_1 p{
    margin-top: 49px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.ow2 {
    display: flex;
    margin-top: 70px;
    margin-left: 257px;
    color: #FFFFFF;
}
.ow2_img {
    width: 587px;
    height: 390px;
}
.ow2_1{
    color: var(--third-color);
    margin-right: 20px;
    text-align: right;
}
.ow2_1 h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;}
.ow2_1 h5 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}
.ow2_1 p{
    margin-top: 49px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.btn1{
    text-align: center;
    margin-top: 60px;
}
#our-work .btn-hero1{
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    padding: 12px 30px 12px 30px;
}

#contact{
    padding-left: 135px;
    height: 690px;
    padding-top: 2300px;
    color: #020E35;
    display: flex;
}
#contact .p1{
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}
#contact .p2{
    font-weight: 400;
    font-size: 90px;
    line-height: 110px;
}
#contact .p2 span{
    color: #E73587;
}
.contact1{
    margin-left: 43px;
}
::placeholder{
    opacity: 0.6;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #2C3241;
}
.contact1 .input1 {
    width: 554px;
    height: 48px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }

.label1{
    margin-top: 32px;
    font-weight: 700;
}
.label1 ::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    opacity: 100%;
}
.label2{
    margin-top: 32px;
}
.contact1 .input2 {
    width: 554px;
    height: 168px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    resize: none;
    margin-bottom: 50px;
  }
.btn-submit{
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 13px;
    text-decoration: none;
    padding: 18px 215.5px 17px 214.5px;
    margin-top: 5000px;
}
.footer{
    padding-left: 135px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: block;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #ffffff;
    background-color: #020E35;
}
#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none;
    background-color: #E73587; 
    color: #020E35;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 13px;
  }
 
  #topBtn:hover {
    background-color: rgb(189, 187, 187); 
  }

  @media screen and (max-width: 1136px) {
    #header {
        padding: 0 75px;
    }
    #header .header-menu ul li {
        margin: 0 15px;
    }
    #header .header-menu ul li a{
        font-size: 15px;
    }
    #header .header-menu ul li a.btn-header-menu{
        padding: 5px 25px 5px 25px;
    }
    #hero {
        padding-left: 55px;
    }
    #hero .hero-text {
        padding-top: 100px;
    }
    #hero .hero-text h1 {
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    #hero .hero-img img {
        width: 500px;
    }    
    .ow1{
        margin-right: 62px;
        margin-left: 15px;
        margin-top: 80px;
    }
    .ow1_img{
        width: 437px;
        height: 240px;
    }
    .ow1_1 h1 {
        font-weight: 400;
        font-size: 22px;
        line-height: 38px;}
    .ow1_1 h5 {
        margin-top: 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
    }
    .ow1_1 p{
        margin-top: 30px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }
    .ow2{
        margin-left: 62px;
        margin-right: 15px;
        margin-top: 80px;
    }
    .ow2_img{
        width: 437px;
        height: 240px;
    }
    .ow2_1 h1 {
        font-weight: 400;
        font-size: 22px;
        line-height: 38px;}
    .ow2_1 h5 {
        margin-top: 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
    }
    .ow2_1 p{
        margin-top: 30px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }
    #contact{
        padding-left: 55px;
        padding-right: 15px;
    }
    #contact .p1{
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
    }
    #contact .p2{
        font-weight: 400;
        font-size: 40px;
        line-height: 110px;
    }
    .contact1 .input1 {
        width: 400px;
    }
    .contact1 .input2 {
        width: 400px;
    }
    .btn-submit{
        padding: 18px 137px 17px 137px;
    }
  }

  @media screen and (max-width: 768px) {
    #header {
        height: 80px;
        background-color: #fff;
        position: relative;
        padding: 0 25px;
    }
    #header .header-logo {
        width: 80px;
        height: 100px;
    }
    #header .header-menu {
        position: fixed;
        z-index: 99;
        width: 80%;
        height: 100vh;
        left: 0;
        top: 0;
        transform: translate(-100%, 0);
        background-color: #000;
        transition: 1s;
    }
    #header .header-menu.active {
        transform: translate(0, 0);
    }
    #header .header-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header .header-menu ul li {
        margin: 20px 0;
    }
    #header .header-menu ul li:nth-child(1) {
        margin-top: 80px;
    }
    #header .header-menu ul li a{
        text-decoration: none;
        font-weight: 400;
        color: #fff;
    }
    #header .header-menu ul li a.btn-header-menu{
        color: #fff;
        background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
        padding: 12px 30px 12px 15px;
    }
    #header .header-burger-menu {
        display: block;
        font-size: 25px;
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-left: 20px;
    }
    #hero .hero-text {
        padding-top: 40px;
        margin-bottom: 20px;
    }
    #hero .hero-text h1 {
        font-size: 50px;
        font-weight: 400;
    }
    #hero .hero-img img {
        width: 100%;
    }

    #project {
        flex-direction: column;
    }
    #project .sub-project {
        margin-bottom: 30px;
    }
    #about-us .about-text {
        padding: 20px 150px 0 150px;
        font-size: 15px;
    }
    #about-us .img-oval {
        width: 200px;
    }
    #service {
        margin-top: 350px;
        height: 2100px;
    }
    #contact{
        padding-top: 2600px;
    }
    #contact{
        padding-left: 15px;
    }
    .footer{
        padding-left: 50px;
    }
}
@media screen and (max-width: 711px) {
    #service {
        height: 2200px;
    }
    #contact{
        padding-top: 2700px;
    }
}
@media screen and (max-width: 697px) {
    .ow1{
        margin-right: 25px;
    }
    .ow1_img{
        width: 307px;
        height: 210px;
    }
    .ow1_1 h1 {
        font-size: 18px;
    }
    .ow1_1 h5 {
        margin-top: 8px;
        font-size: 10px;
    }
    .ow1_1 p{
        margin-top: 29px;
        font-size: 12px;
    }
    .ow2{
        margin-left: 25px;
    }
    .ow2_img{
        width: 307px;
        height: 210px;
    }
    .ow2_1 h1 {
        font-size: 18px;
    }
    .ow2_1 h5 {
        margin-top: 8px;
        font-size: 10px;
    }
    .ow2_1 p{
        margin-top: 29px;
        font-size: 12px;
    }
    #contact{
        padding-bottom: 100px;
        display: block;
    }
    #contact .p1{
        text-align: center;
        font-size: 15px;
    }
    #contact .p2{
        text-align: center;
        font-size: 30px;
    }
    .contact1{
        text-align: center;
    }

}
@media screen and (max-width: 564px) {
    #service {
        height: 2000px;
    }
    .ow1_img{
        padding-top: 80px;
        width: 100px;
        height: 75px;
    }
    .ow2_img{
        padding-top: 80px;
        width: 100px;
        height: 75px;
    }
    #contact{
        padding-top: 2500px;
    }
    .contact1 .input1 {
        width: 275px;
    }
    .contact1 .input2 {
        width: 275px;
    }
    .btn-submit{
        padding: 12px 75px 11px 75px;
    }
}
@media screen and (max-width: 544px) {
    #service {
        height: 2550px;
    }
    #contact{
        padding-top: 3000px;
    }
}