@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Basic';
    list-style: none;
}

/* dekstop version */
/* header */
#header {
    height: 80px;
    background-color: #fff;
    position: relative;
    padding: 0 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
#header .header-logo {
    width: 100px;
    height: 120px;
    background-color: #020E35;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#header .header-logo::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 6px;
    width: 100%;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    transform: translate(0, 100%);
}
#header .header-menu {
    position: relative;
}
#header .header-menu ul {
    display: flex;
}
#header .header-menu ul li {
    margin: 0 25px;
}
#header .header-menu ul li:nth-child(5) {
    margin-right: 0;
}
#header .header-menu ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #000;
}
#header .header-menu ul li a.btn-header-menu{
    color: #fff;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    padding: 12px 30px 12px 15px;
}
#header .header-burger-menu {
    display: none;
}

/* hero section */
#hero {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 135px;
}
#hero .hero-text {
    padding-top: 172px;
}
#hero .hero-text h1 {
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 0;
}
#hero .hero-text a.btn-hero {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    padding: 12px 30px 12px 15px;
}

/* pop up project */
#project-layer {
    position: fixed;
    z-index: 999;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
}
#project-layer.active {
    width: 100%;
}
#project {
    position: absolute;
    z-index: 9999;
    width: 70%;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 5px;
    transition: .5s;
    flex-wrap: wrap;
    /* bottom: 10px;
    overflow-y: auto; */
}
#project.active {
    top: 80px;
    transform: translate(-50%, 0);
}
#project .sub-project {
    margin: 0 15px;
    text-align: center;
    flex-basis: 40%;
    margin-bottom: 30px;
}
#project .sub-project h4 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
}
#project .sub-project img {
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}
#project .sub-project a {
    padding: 10px 20px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #fff;
    text-decoration: none;
}

/* mobile version */
@media screen and (max-width: 768px) {
    /* header */
    #header {
        height: 80px;
        background-color: #fff;
        position: relative;
        padding: 0 25px;
    }
    #header .header-logo {
        width: 80px;
        height: 100px;
    }
    #header .header-menu {
        position: fixed;
        z-index: 99;
        width: 80%;
        height: 100vh;
        left: 0;
        top: 0;
        transform: translate(-100%, 0);
        background-color: #000;
        transition: 1s;
    }
    #header .header-menu.active {
        transform: translate(0, 0);
    }
    #header .header-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header .header-menu ul li {
        margin: 20px 0;
    }
    #header .header-menu ul li:nth-child(1) {
        margin-top: 80px;
    }
    #header .header-menu ul li a{
        text-decoration: none;
        font-weight: 400;
        color: #fff;
    }
    #header .header-menu ul li a.btn-header-menu{
        color: #fff;
        background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
        padding: 12px 30px 12px 15px;
    }
    #header .header-burger-menu {
        display: block;
        font-size: 25px;
    }

    /* hero section */
    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-left: 20px;
    }
    #hero .hero-text {
        padding-top: 40px;
        margin-bottom: 20px;
    }
    #hero .hero-text h1 {
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 0;
    }
    #hero .hero-img img {
        width: 100%;
    }

    /* project */
    #project {
        flex-direction: column;
    }
    #project .sub-project {
        margin-bottom: 30px;
    }
}
#about-us {
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
#about-us .about-title {
    padding-top: 50px;
    font-family: Basic;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #020E35;
}
.bottom-line {
    text-decoration: underline solid #E73587;
}
#about-us .about-text {
    padding-top: 20px;
    padding-left: 260px;
    padding-right: 260px;
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #2B2B2B;
}
#about-us .img-oval {
    position: absolute;
    left: -141px;
}
#service {
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient(to bottom,
            #fff 0%,
            #fff 50%,
            #020E35 50%,
            #020E35);
}
#service .service-title {
    padding-bottom: 50px;
    font-family: Basic;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #020E35;
}
#service-content .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: auto;
    margin-block: 2rem;
    gap: 1.5rem;
    padding-bottom: 4%;
}
#service-content .card1 {
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 540px;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.2);
    background: #FDF8E3;
}
#service-content .card2 {
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 540px;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.2);
    background: #F0F3FA;
}
#service-content .card3 {
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 540px;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.2);
    background: #FEEFF0;
}
#service-content .card_header {
    margin: auto;
}
#service-content .card_body {
    padding-bottom: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .2rem;
}
#service-content .card_body h4 {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 20px;
}
#service-content .card_body p {
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-service {
    width: 80px;
    margin-bottom: 30px;
    margin-left: 34%;
    padding-left: 50%;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border: 3px solid;
    color: #FFFFFF;
    padding: 15px 20px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    transition: .4s linear;
}
.btn-service:hover {
    border-color: #020E35;

}
#oval {
    position: absolute;
    overflow: hidden;
    width: 76px;
    height: 76px;
    right: 10px;
    top: 210px;
    -ms-border-radius: 38px / 38px;
    -o-border-radius: 38px / 38px;
    -moz-border-radius: 38px / 38px;
    -webkit-border-radius: 38px / 38px;
    border-radius: 38px / 38px;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0);
    background: -webkit-linear-gradient(-90deg, rgba(140, 50, 240, 1) 0%, rgba(231, 53, 135, 1) 100%);
    background: -o-linear-gradient(-90deg, rgba(140, 50, 240, 1) 0%, rgba(231, 53, 135, 1) 100%);
    background: -moz-linear-gradient(-90deg, rgba(140, 50, 240, 1) 0%, rgba(231, 53, 135, 1) 100%);
    background: -ms-linear-gradient(-90deg, rgba(140, 50, 240, 1) 0%, rgba(231, 53, 135, 1) 100%);
    background: linear-gradient(-90deg, rgba(140, 50, 240, 1) 0%, rgba(231, 53, 135, 1) 100%);
}
#oval:hover {
    border-color: #020E35;
}
.btn-img {
    margin-top: 26px;
    margin-left: 31px;
    width: 15px;
    height: 25px;
}